<div class="container">
<br/>
  <div class="row">
    <div class="dropdown">
      <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Add Product
      <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <% Product.types.each do |product_type| %>
          <li><a href="<%= new_product_path(type: product_type)%>"><%= product_type%></a></li>
        <% end %>  
      </ul>
    </div>
  </div>
<br/> 
<p id="notice"><%= notice %></p>
<br/>

<h1>Products</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Price</th>
      <th>Inward date</th>
      <th>Type</th>
      <th>Color</th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.formatted_inward_date %></td>
        <td><%= product.type %></td>
        <td><%= product.color %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>